/* Webfont: Namian-Regular */@font-face {
    font-family: 'Namian';
    src: url('Namian-Regular.eot'); /* IE9 Compat Modes */
    src: url('Namian-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Namian-Regular.woff') format('woff'), /* Modern Browsers */
         url('Namian-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('Namian-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

