/* Webfont: Namian-MediumItalic */@font-face {
    font-family: 'NamianMedIta';
    src: url('Namian-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('Namian-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Namian-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('Namian-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Namian-MediumItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

