/* Webfont: Namian-Medium */@font-face {
    font-family: 'NamianMed';
    src: url('Namian-Medium.eot'); /* IE9 Compat Modes */
    src: url('Namian-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Namian-Medium.woff') format('woff'), /* Modern Browsers */
         url('Namian-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('Namian-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

