/* Webfont: Namian-BoldItalic */@font-face {
    font-family: 'NamianIta';
    src: url('Namian-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Namian-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Namian-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('Namian-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Namian-BoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

