/* Webfont: Namian-SemiBoldItalic */@font-face {
    font-family: 'NamianSemBdIta';
    src: url('Namian-SemiBoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Namian-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Namian-SemiBoldItalic.woff') format('woff'), /* Modern Browsers */
         url('Namian-SemiBoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Namian-SemiBoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

