/* Webfont: Namian-LightItalic */@font-face {
    font-family: 'NamianLightIta';
    src: url('Namian-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('Namian-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Namian-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('Namian-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Namian-LightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

