/* Webfont: Namian-RegularItalic */@font-face {
    font-family: 'NamianIta';
    src: url('Namian-RegularItalic.eot'); /* IE9 Compat Modes */
    src: url('Namian-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Namian-RegularItalic.woff') format('woff'), /* Modern Browsers */
         url('Namian-RegularItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Namian-RegularItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

